<div class="panel panel-default">
  <div class="panel-body">
    <p><%= image_tag("thanks.png", class: "img-fluid") %></p>
  </div><!-- / panel-body -->
</div><!-- / panel -->

<div class = "back">
<a><%= link_to 'Back to Products', products_path %></a>
</div>