<div class="panel panel-default">
  <div class="panel-body">
    <%= image_tag("thanks.jpg", class: "img-responsive", size: "1025x400") %>
  </div><!-- / panel-body -->
</div><!-- / panel -->

<div class = "back">
<a><%= link_to 'Back to Products', products_path %></a>
</div>