<p id="notice"><%= notice %></p>
<div class = "back">
  <h1>Products</h1>
</div>

<table>
  <div class="container">
    <div class="row">
      <%= render @products %>
    </div>
  </div>
</table>

<br>

<div class = "back">
<a><%= link_to 'New Product', new_product_path %></a>
</div>
